<!doctype html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('dashboard.index') }}">home</a>/<a
        href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name) }}">{{ clan_name }}</a>
{% block header %}
<h1>{{clan_name}} for {{selected_date}}</h1>
{% endblock %}

<input id="saveScores_btn" type="button" value="Save to CSV"/>
<input id="copyNames_btn" type="button" value="Copy Inactives"/>
{% block content %}
<table class="fullTable" id="table">
    <thead>
    <tr>
        <th rowspan="2">Name<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='name', col_type='str', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='name', col_type='str', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
            <br>
        </th>
        <th rowspan="2">Score<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='score', col_type='int', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='score', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">Display Score<br/>
        </th>
        <th rowspan="2">Previous Score<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='prev_score', col_type='int', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='prev_score', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">External Score<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='external_score', col_type='int', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='external_score', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">Gild Level<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='gild_level', col_type='int', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='gild_level', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">Score Delta<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='score_delta', col_type='int', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='score_delta', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">Days Last Played<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='days_last_played', col_type='int', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='days_last_played', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">Date Last Played<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='date_last_played', col_type='date', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='date_last_played', col_type='date', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">Inactive<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='inactive', col_type='str', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='inactive', col_type='str', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th rowspan="2">Clan XP<br/>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='clan_xp', col_type='str', selected_date='%s'%selected_date ) }}"><font
                    size="2">▲</font></a>
            <a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='clan_xp', col_type='str', selected_date='%s'%selected_date, reverse='1' ) }}"><font
                    size="2">▼</font></a>
        </th>
        <th colspan="3">GOS</th>
        <th colspan="3">DSC</th>
        <th colspan="3">LW</th>
        <th colspan="3">VOG</th>
        <th colspan="3">VOGC</th>
        <th colspan="3">Clan Engram By Class</th>
        <th colspan="3">Crucible Engram</th>
        <th colspan="3">Exo Challenge</th>
        <th colspan="3">Banshee</th>
        <th colspan="3">Drifter</th>
        <th colspan="3">Zavala</th>
        <th colspan="3">Variks</th>
        <th colspan="3">Exo Stranger</th>
        <th colspan="3">Empire Hunts</th>
        <th colspan="3">Nightfall</th>
        <th colspan="3">Deadly Venatics</th>
        <th colspan="3">Strikes</th>
        <th colspan="3">Nightfall 100k</th>
        <th colspan="3">Gambit</th>
        <th colspan="3">Crucible Playlist</th>
        <th colspan="3">Crucible Glory</th>
        <th colspan="3">Trials 50 Wins</th>
        <th colspan="3">Trials 7 Wins</th>
        <th colspan="3">Prophecy</th>
        <th colspan="3">Harbinger</th>
        <th colspan="3">Presage</th>
        <th colspan="3">POH</th>
        <th colspan="3">ST</th>
        <th colspan="3">Battle Hardened</th>
        <th colspan="3">Net Crasher</th>
        <th colspan="3">Wayfinder's Compass</th>
        <th colspan="3">Shattered Champions</th>
        <th colspan="3">Astral Alignment 1</th>
        <th colspan="3">Astral Alignment 2</th>
        <th colspan="3">Astral Alignment 3</th>
        <th colspan="3">Low Light</th>
        <th rowspan="2">Account doesn't exist</th>
        <th rowspan="2">Private account</th>
    </tr>
    <tr>
        {%- for i in range(36) %}
        <th>H</th>
        <th>W</th>
        <th>T</th>
        {%- endfor -%}
    </tr>
    </thead>
    <tbody>
    {%- for i in range(members|length) -%}
    <tr>
        <th>{{ members[i].name }}</th>  <!-- Name -->
        <td class="score" id="score_td_{{i}}"><b id="score_{{i}}">{{ members[i].score }}</b></td>  <!-- Score -->
        <td class="score" id="displayScore_td_{{i}}">
            <b id="displayScore_{{i}}" class="displayScore"></b>
        </td>   <!-- Display Score -->
        <td class="score" id="prevScore_{{i}}">{{ members[i].prev_score }}</td>  <!-- Previous Score -->
        <td><input id="externalScore_{{i}}" name="externalScore" type="text" value="{{ members[i].external_score }}"
                   onfocusout="addExternalScore({{i}})"
                   size="5"></td><!-- External Score -->
        <td>
        <select id="gildLevel_{{i}}" onchange="updateGildLevel({{i}})">
            {%- if members[i].gild_level == '0' -%}
                <option value="0" selected id="option0_{{i}}">0</option>
                {%- if members[i].score == '720' -%}
                    <option value="1" id="option1_{{i}}">1</option>
                {%- else -%}
                    <option value="1" disabled="false" id="option1_{{i}}">1</option>
                {%- endif -%}
                <option value="2" hidden id="option2_{{i}}">2</option>
                <option value="3" hidden id="option3_{{i}}">3</option>
                <option value="4" hidden id="option4_{{i}}">4</option>
            {%- elif members[i].gild_level == '1' -%}
                <option value="1" selected id="option1_{{i}}">1</option>
                {%- if members[i].score == '2160' -%}
                    <option value="2" id="option2_{{i}}">2</option>
                {%- else -%}
                    <option value="2" disabled id="option2_{{i}}">2</option>
                {%- endif -%}
                <option value="3" hidden id="option3_{{i}}">3</option>
                <option value="4" hidden id="option4_{{i}}">4</option>
            {%- elif members[i].gild_level == '2' -%}
                <option value="2" selected id="option2_{{i}}">2</option>
                {%- if members[i].score == '4320' -%}
                    <option value="3" id="option3_{{i}}">3</option>
                {%- else -%}
                    <option value="3" disabled id="option3_{{i}}">3</option>
                {%- endif -%}
                <option value="4" hidden id="option4_{{i}}">4</option>
            {%- elif members[i].gild_level == '3' -%}
                <option value="3" selected id="option3_{{i}}">3</option>
                {%- if members[i].score == '7920' -%}
                    <option value="4" id="option4_{{i}}">4</option>
                {%- else -%}
                    <option value="4" disabled id="option4_{{i}}">4</option>
                {%- endif -%}
            {%- elif members[i].gild_level == '4' -%}
                <option value="4" selected id="option4_{{i}}">4</option>
            {%- endif -%}
        </select>
        </td>   <!-- Gild Level -->
        <td id="scoreDelta_{{i}}">{{ members[i].score_delta }}</td>  <!-- Score Delta -->
        <td>{{ members[i].days_last_played }}</td>  <!-- Days Last Played -->
        <td>{{ members[i].date_last_played[:10] }}</td>  <!-- Date Last Played -->
        <td>
            {%- if members[i].inactive == 'True' -%}
            ✔️
            {%- endif -%}
        </td>  <!-- Inactive -->
        <td>
            {%- if ( members[i].clan_xp_hunter | int + members[i].clan_xp_warlock | int + members[i].clan_xp_titan | int ) >= 5000 -%}
            ✔️
            {%- else -%}
            {{ (members[i].clan_xp_hunter | int) + (members[i].clan_xp_warlock | int) + (members[i].clan_xp_titan | int) }}
            {%- endif -%}
        </td>
        <td>{{ members[i].gos_hunter }}</td> <!-- GOS Hunter -->
        <td>{{ members[i].gos_warlock }}</td> <!-- GOS Warlock -->
        <td>{{ members[i].gos_titan }}</td> <!-- GOS Titan -->
        <td>{{ members[i].dsc_hunter }}</td> <!-- DSC Hunter -->
        <td>{{ members[i].dsc_warlock }}</td> <!-- DSC Warlock -->
        <td>{{ members[i].dsc_titan }}</td> <!-- DSC Titan -->
        <td>{{ members[i].lw_hunter }}</td> <!-- LW Hunter -->
        <td>{{ members[i].lw_warlock }}</td> <!-- LW Warlock -->
        <td>{{ members[i].lw_titan }}</td> <!-- LW Titan -->
        <td>{{ members[i].vog_hunter }}</td> <!-- VOG Hunter -->
        <td>{{ members[i].vog_warlock }}</td> <!-- VOG Warlock -->
        <td>{{ members[i].vog_titan }}</td> <!-- VOG Titan -->
        <td>{{ members[i].vog_challenge_hunter }}</td> <!-- VOG Challenge Hunter -->
        <td>{{ members[i].vog_challenge_warlock }}</td> <!-- VOG Challenge Warlock -->
        <td>{{ members[i].vog_challenge_titan }}</td> <!-- VOG Challenge Titan -->
        <td>{%- if members[i].clan_xp_hunter | int >= 5000 -%}✔️{%- else -%}{{ members[i].clan_xp_hunter }}{%- endif -%}</td> <!-- Clan Engram Hunter -->
        <td>{%- if members[i].clan_xp_warlock | int >= 5000 -%}✔️{%- else -%}{{ members[i].clan_xp_warlock }}{%- endif -%}</td> <!-- Clan Engram Warlock -->
        <td>{%- if members[i].clan_xp_titan | int >= 5000 -%}✔️{%- else -%}{{ members[i].clan_xp_titan }}{%- endif -%}</td> <!-- Clan Engram Titan -->
        <td>{%- if members[i].crucible_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Hunter -->
        <td>{%- if members[i].crucible_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Warlock -->
        <td>{%- if members[i].crucible_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Titan -->
        <td>{%- if members[i].exo_challenge_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Challenge Hunter -->
        <td>{%- if members[i].exo_challenge_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Challenge Warlock -->
        <td>{%- if members[i].exo_challenge_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Challenge Titan -->
        <td>{%- if members[i].banshee_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Hunter -->
        <td>{%- if members[i].banshee_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Warlock -->
        <td>{%- if members[i].banshee_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Titan -->
        <td>{%- if members[i].drifter_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Hunter -->
        <td>{%- if members[i].drifter_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Warlock -->
        <td>{%- if members[i].drifter_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Titan -->
        <td>{%- if members[i].zavala_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Hunter -->
        <td>{%- if members[i].zavala_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Warlock -->
        <td>{%- if members[i].zavala_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Titan -->
        <td>{%- if members[i].variks_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Variks Hunter -->
        <td>{%- if members[i].variks_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Variks Warlock -->
        <td>{%- if members[i].variks_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Variks Titan -->
        <td>{%- if members[i].exo_stranger_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Stranger Hunter -->
        <td>{%- if members[i].exo_stranger_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Stranger Warlock -->
        <td>{%- if members[i].exo_stranger_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Stranger Titan -->
        <td>{%- if members[i].empire_hunt_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Empire Hunt Hunter -->
        <td>{%- if members[i].empire_hunt_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Empire Hunt Warlock -->
        <td>{%- if members[i].empire_hunt_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Empire Hunt Titan -->
        <td>{%- if members[i].nightfall_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Hunter -->
        <td>{%- if members[i].nightfall_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Warlock -->
        <td>{%- if members[i].nightfall_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Titan -->
        <td>{%- if members[i].deadly_venatics_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Deadly Venatics Hunter -->
        <td>{%- if members[i].deadly_venatics_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Deadly Venatics Warlock -->
        <td>{%- if members[i].deadly_venatics_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Deadly Venatics Titan -->
        <td>{%- if members[i].strikes_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Hunter -->
        <td>{%- if members[i].strikes_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Warlock -->
        <td>{%- if members[i].strikes_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Titan -->
        <td>{%- if members[i].nightfall_100k_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Hunter -->
        <td>{%- if members[i].nightfall_100k_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Warlock -->
        <td>{%- if members[i].nightfall_100k_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Titan -->
        <td>{%- if members[i].gambit_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Hunter -->
        <td>{%- if members[i].gambit_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Warlock -->
        <td>{%- if members[i].gambit_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Titan -->
        <td>{%- if members[i].crucible_playlist_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Hunter -->
        <td>{%- if members[i].crucible_playlist_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Warlock -->
        <td>{%- if members[i].crucible_playlist_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Titan -->
        <td>{%- if members[i].crucible_glory_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Hunter -->
        <td>{%- if members[i].crucible_glory_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Warlock -->
        <td>{%- if members[i].crucible_glory_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Titan -->
        <td>{%- if members[i].trials50_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 50 Wins Hunter -->
        <td>{%- if members[i].trials50_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 50 Wins Warlock -->
        <td>{%- if members[i].trials50_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 50 Wins Titan -->
        <td>{%- if members[i].trials7_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Wins Hunter -->
        <td>{%- if members[i].trials7_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Wins Warlock -->
        <td>{%- if members[i].trials7_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Wins Titan -->
        <td>{{ members[i].prophecy_hunter }}</td> <!-- Prophecy Hunter -->
        <td>{{ members[i].prophecy_warlock }}</td> <!-- Prophecy Warlock -->
        <td>{{ members[i].prophecy_titan }}</td> <!-- Prophecy Titan -->
        <td>{{ members[i].harbinger_hunter }}</td> <!-- Harbinger Hunter -->
        <td>{{ members[i].harbinger_warlock }}</td> <!-- Harbinger Warlock -->
        <td>{{ members[i].harbinger_titan }}</td> <!-- Harbinger Titan -->
        <td>{{ members[i].presage_hunter }}</td> <!-- Presage Hunter -->
        <td>{{ members[i].presage_warlock }}</td> <!-- Presage Warlock -->
        <td>{{ members[i].presage_titan }}</td> <!-- Presage Titan -->
        <td>{{ members[i].poh_hunter }}</td> <!-- POH Hunter -->
        <td>{{ members[i].poh_warlock }}</td> <!-- POH Warlock -->
        <td>{{ members[i].poh_titan }}</td> <!-- POH Titan -->
        <td>{{ members[i].st_hunter }}</td> <!-- ST Hunter -->
        <td>{{ members[i].st_warlock }}</td> <!-- ST Warlock -->
        <td>{{ members[i].st_titan }}</td> <!-- ST Titan -->
        <td>{%- if members[i].battle_hardened_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Battle Hardened Hunter -->
        <td>{%- if members[i].battle_hardened_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Battle Hardened Warlock -->
        <td>{%- if members[i].battle_hardened_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Battle Hardened Titan -->
        <td>{%- if members[i].net_crasher_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Net Crasher Hunter -->
        <td>{%- if members[i].net_crasher_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Net Crasher Warlock -->
        <td>{%- if members[i].net_crasher_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Net Crasher Titan -->
        <td>{%- if members[i].wf_compass_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wayfinder's Compass Bounties Hunter -->
        <td>{%- if members[i].wf_compass_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wayfinder's Compass Bounties Warlock -->
        <td>{%- if members[i].wf_compass_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wayfinder's Compass Bounties Titan -->
        <td>{%- if members[i].shattered_champions_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Shattered Champions Hunter -->
        <td>{%- if members[i].shattered_champions_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Shattered Champions Warlock -->
        <td>{%- if members[i].shattered_champions_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Shattered Champions Titan -->
        <td>{%- if members[i].astral_alignment1_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 1 Hunter -->
        <td>{%- if members[i].astral_alignment1_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 1 Warlock -->
        <td>{%- if members[i].astral_alignment1_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 1 Titan -->
        <td>{%- if members[i].astral_alignment2_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 2 Hunter -->
        <td>{%- if members[i].astral_alignment2_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 2 Warlock -->
        <td>{%- if members[i].astral_alignment2_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 2 Titan -->
        <td>{%- if members[i].astral_alignment3_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 3 Hunter -->
        <td>{%- if members[i].astral_alignment3_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 3 Warlock -->
        <td>{%- if members[i].astral_alignment3_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Astral Alignment 3 Titan -->
        <td>{%- if members[i].low_light_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Hunter -->
        <td>{%- if members[i].low_light_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Warlock -->
        <td>{%- if members[i].low_light_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Titan -->
        <td>{%- if members[i].account_not_exists == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Account doesn't exist -->
        <td>{%- if members[i].privacy == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Private account -->
    </tr>
    {%- endfor -%}
    </tbody>
</table>
{% endblock %}
<script>
function createPopup(text) {
    var docHeight = $(document).height();
    var divCont = "<div>"+text+"</div>";
    $("body").append("<div id='overlayDiv'></div>").hide().fadeIn("slow");
    $overlayDiv = $("#overlayDiv");
    $overlayDiv.height(docHeight).css({
            'opacity' : 1.0,
            'position': 'absolute',
            'top': 0,
            'background-color': 'white',
            'width': 'fit-content',
            'height': 'fit-content',
            'max-height': '50%',
            'z-index': 5000,
            'margin-left': '10%',
            'margin-right': '10%',
            'margin-top': '10%',
            'color': 'black',
            'border': 'solid',
            'white-space': 'pre-line',
            'padding': '10px'
    });
    $overlayDiv.append(divCont+"<br/><br/><button id='close'>CLOSE</button>");
    $("#close").ready(function(){
       $(document).on("click", "#close", function(){
          $overlayDiv.fadeOut("slow", function(){
             $overlayDiv.remove();
          });
       });
    });
}
</script>
<script>
$(document).ready(function () {
    $('.score').each(function() {
        applyScoreColor(parseInt($(this).text()), $(this)[0]);
    });
    var i = 0;
    $('.displayScore').each(function() {
        calculateDisplayScore(i);
        i++;
    });
});
</script>
<script>
function addExternalScore(i) {
    var m = {{members|tojson}};
    var old_external_score = m[i].external_score;
    var new_external_score = document.getElementById("externalScore_".concat(i)).value;
    var gild_level = +document.getElementById("gildLevel_".concat(i)).value
    var old_score = m[i].score;

    var original_score = +old_score - +old_external_score;

    new_external_score = applyGildCap(original_score, new_external_score, gild_level, i);

    var new_score = +original_score + +new_external_score;
    var new_score_delta = +new_score - +m[i].prev_score;

    document.getElementById("score_".concat(i)).innerHTML = new_score;
    document.getElementById("scoreDelta_".concat(i)).innerHTML = new_score_delta;
    document.getElementById("externalScore_".concat(i)).value = new_external_score;
    calculateDisplayScore(i);
    applyScoreColor(new_score, document.getElementById("score_td_".concat(i)));
}
</script>
<script>
function applyScoreColor(score, element) {
    if (score < 60) {
      element.className = "score guardian";
    } else if (score < 120) {
      element.className = "score brave";
    } else if (score < 240) {
      element.className = "score heroic";
    } else if (score < 480) {
      element.className = "score fabled";
    } else if (score < 720) {
      element.className = "score mythic";
    } else if (score == 720) {
      element.className = "score legend";
    } else if (score < 2160) {
      element.className = "score gildedLegend";
    } else if (score == 2160) {
      element.className = "score ironWolf";
    } else if (score < 4320) {
      element.className = "score gildedIronWolf";
    } else if (score == 4320) {
      element.className = "score ironLord";
    } else if (score < 7920) {
      element.className = "score gildedIronLord";
    } else if (score == 7920) {
      element.className = "score ironWill";
    } else {
      element.className = "score ironWill";
    }
}
</script>
<script>
function applyDisplayScoreColor(score, gildLevel, element) {
    if (score < 60 && gildLevel == 0) {
      element.className = "score guardian";
    } else if (score < 120 && gildLevel == 0) {
      element.className = "score brave";
    } else if (score < 240 && gildLevel == 0) {
      element.className = "score heroic";
    } else if (score < 480 && gildLevel == 0) {
      element.className = "score fabled";
    } else if (score < 720 && gildLevel == 0) {
      element.className = "score mythic";
    } else if (score == 720 && gildLevel == 0) {
      element.className = "score legend";
    } else if (score < 1440 && gildLevel == 1) {
      element.className = "score gildedLegend";
    } else if (score == 1440 && gildLevel == 1) {
      element.className = "score ironWolf";
    } else if (score < 2160 && gildLevel == 2) {
      element.className = "score gildedIronWolf";
    } else if (score == 2160 && gildLevel == 2) {
      element.className = "score ironLord";
    } else if (score < 3600 && gildLevel >= 3) {
      element.className = "score gildedIronLord";
    } else if (score == 3600 && gildLevel >= 3) {
      element.className = "score ironWill";
    } else {
      element.className = "score ironWill";
    }
}
</script>
<script>
$('#copyNames_btn').click( function(e){
    e.preventDefault();
    var m = {{members|tojson}};
    var member_names = "<h3>"+{{clan_name|tojson}}+"</h3>\r\n";
    for (var i = 0; i < m.length; i++) {
        if (m[i].inactive == 'True') {
            member_names = member_names.concat(m[i].name,"\r\n");
        }
    }
    createPopup(member_names);
});
</script>
<script>
$('#saveScores_btn').click( function(e){
    e.preventDefault();

    var m = {{members|tojson}};
    m_string = "";
    for (var i = 0; i < m.length; i++) {
        var external_score = document.getElementById("externalScore_".concat(i)).value;
        var score = document.getElementById("score_".concat(i)).innerHTML;
        var score_delta = document.getElementById("scoreDelta_".concat(i)).innerHTML;
        var gild_level = +document.getElementById("gildLevel_".concat(i)).value
        m[i].score = score;
        m[i].external_score = external_score;
        m[i].score_delta = score_delta;
        m[i].gild_level = gild_level;
        m_string += JSON.stringify(m[i]) + "\r\n";
    }

    var url_to_hit = "{{ url_for('dashboard.save_to_csv', m='members_placeholder', clan='clan_placeholder', date='date_placeholder', old_url='url_placeholder') }}"
            .replace("members_placeholder", encodeURI(m_string).replaceAll("#", "%23"))
            .replace("clan_placeholder", {{clan_name|tojson}})
            .replace("date_placeholder", {{selected_date|tojson}})
            .replace("url_placeholder", window.location.href.replaceAll("&", "%26"))
            .replaceAll("amp;", "");

    window.location.href = url_to_hit;
});
</script>
<script>
function updateGildLevel(i) {
    var m = {{members|tojson}};
    var oldGildLevel = +m[i].gild_level;
    var gildLevel = +document.getElementById("gildLevel_".concat(i)).value;
    if (gildLevel != 4) {
        var optionElement = document.getElementById("option".concat(gildLevel+1) + "_".concat(i));
        optionElement.hidden = false;
        optionElement.disabled = true;
    }
    if (gildLevel <= oldGildLevel) {
        // TODO: add logic to remove optionElements above current
        addExternalScore(i);
    }
}
</script>
<script>
function applyGildCap(originalScore, newExternalScore, gildLevel, i) {
    var gildLevelThresholds = new Map([[0, 720],[1,2160],[2,4320],[3,7920],[4,99999]]);
    var gildLevelThreshold = gildLevelThresholds.get(gildLevel);
    var potentialScore = +originalScore + +newExternalScore;
    if (gildLevel != 4) {
        var optionElement = document.getElementById("option".concat(gildLevel+1) + "_".concat(i));
    }
    if (potentialScore >= gildLevelThreshold) {
        if (gildLevel != 4) {
            optionElement.disabled = false;
        }
        return (+gildLevelThreshold - +originalScore);
    }
    if (gildLevel != 4) {
        optionElement.disabled = true;
    }
    return newExternalScore;
}
</script>
<script>
function calculateDisplayScore(i) {
       var score = +document.getElementById("score_".concat(i)).innerHTML;
       var gildLevel = +document.getElementById("gildLevel_".concat(i)).value;
       var displayScore = score;

       if (gildLevel == 0) {
       } else if (gildLevel == 1) {
            displayScore = displayScore - 720;
       } else if (gildLevel == 2) {
            displayScore = displayScore - 2160;
       } else if (gildLevel == 3) {
            displayScore = displayScore - 4320;
       } else {
            displayScore = displayScore - 4320;
       }
       document.getElementById("displayScore_".concat(i)).innerHTML = displayScore;
       applyDisplayScoreColor(displayScore, gildLevel, document.getElementById("displayScore_td_".concat(i)));
}
</script>