<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('dashboard.index') }}">home</a>/<a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name) }}">{{ clan_name }}</a>
{% block header %}
  <h1>{{clan_name}}</h1>
{% endblock %}

{% block content %}
  <table class="hoverTable">
    <thead>
      <tr>
        <th rowspan="2"><a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name, sort_by='0' ) }}">Name</a></th>
        <th rowspan="2">Score</th>
        <th rowspan="2">Score Delta</th>
        <th rowspan="2">Previous Score</th>
        <th rowspan="2">Days Last Played</th>
        <th rowspan="2">Date Last Played</th>
        <th colspan="3">GOS</th>
        <th colspan="3">DSC</th>
        <th colspan="3">LW</th>
        <th colspan="3">Clan Engram</th>
        <th colspan="3">Crucible Engram</th>
        <th colspan="3">Exo Challenge</th>
        <th colspan="3">Banshee</th>
        <th colspan="3">Drifter</th>
        <th colspan="3">Zavala</th>
        <th colspan="3">Variks</th>
        <th colspan="3">Exo Stranger</th>
        <th colspan="3">Empire Hunts</th>
        <th colspan="3">Nightfall</th>
        <th colspan="3">Deadly Venatics</th>
        <th colspan="3">Strikes</th>
        <th colspan="3">Nightfall 100k</th>
        <th colspan="3">Gambit</th>
        <th colspan="3">Crucible Playlist</th>
        <th colspan="3">Crucible Glory</th>
        <th colspan="3">Trials 3 wins</th>
        <th colspan="3">Trials 5 wins</th>
        <th colspan="3">Trials 7 wins</th>
        <th colspan="3">Low Light</th>
        <th rowspan="2">Account doesn't exist</th>
        <th rowspan="2">Private account</th>
      </tr>
      <tr>
        {%- for i in range(23) %}
          <th>H</th>
          <th>W</th>
          <th>T</th>
        {%- endfor -%}
      </tr>
    </thead>
    <tbody>
      {%- for member in members -%}
      <tr>
        <td>{{ member[0] }}</td>  <!-- Name -->
        <td>{{ member[1] }}</td>  <!-- Score -->
        <td>{{ member[2] }}</td>  <!-- Score Delta -->
        <td>{{ member[3] }}</td>  <!-- Previous Score -->
        <td>{{ member[4] }}</td>  <!-- Days Last Played -->
        <td>{{ member[5][5:10] }}</td>  <!-- Date Last Played -->
        <td>{{ member[10] }}</td> <!-- GOS Hunter -->
        <td>{{ member[11] }}</td> <!-- GOS Warlock -->
        <td>{{ member[12] }}</td> <!-- GOS Titan -->
        <td>{{ member[13] }}</td> <!-- DSC Hunter -->
        <td>{{ member[14] }}</td> <!-- DSC Warlock -->
        <td>{{ member[15] }}</td> <!-- DSC Titan -->
        <td>{{ member[16] }}</td> <!-- LW Hunter -->
        <td>{{ member[17] }}</td> <!-- LW Warlock -->
        <td>{{ member[18] }}</td> <!-- LW Titan -->
        <td>{%- if member[19] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Clan Engram Hunter -->
        <td>{%- if member[20] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Clan Engram Warlock -->
        <td>{%- if member[21] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Clan Engram Titan -->
        <td>{%- if member[22] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Hunter -->
        <td>{%- if member[23] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Warlock -->
        <td>{%- if member[24] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Titan -->
        <td>{%- if member[25] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Challenge Hunter -->
        <td>{%- if member[26] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Challenge Warlock -->
        <td>{%- if member[27] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Challenge Titan -->
        <td>{%- if member[28] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Hunter -->
        <td>{%- if member[29] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Warlock -->
        <td>{%- if member[30] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Titan -->
        <td>{%- if member[31] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Hunter -->
        <td>{%- if member[32] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Warlock -->
        <td>{%- if member[33] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Titan -->
        <td>{%- if member[34] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Hunter -->
        <td>{%- if member[35] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Warlock -->
        <td>{%- if member[36] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Titan -->
        <td>{%- if member[37] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Variks Hunter -->
        <td>{%- if member[38] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Variks Warlock -->
        <td>{%- if member[39] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Variks Titan -->
        <td>{%- if member[40] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Stranger Hunter -->
        <td>{%- if member[41] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Stranger Warlock -->
        <td>{%- if member[42] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Exo Stranger Titan -->
        <td>{%- if member[43] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Empire Hunt Hunter -->
        <td>{%- if member[44] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Empire Hunt Warlock -->
        <td>{%- if member[45] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Empire Hunt Titan -->
        <td>{%- if member[46] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Hunter -->
        <td>{%- if member[47] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Warlock -->
        <td>{%- if member[48] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Titan -->
        <td>{%- if member[49] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Deadly Venatics Hunter -->
        <td>{%- if member[50] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Deadly Venatics Warlock -->
        <td>{%- if member[51] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Deadly Venatics Titan -->
        <td>{%- if member[52] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Hunter -->
        <td>{%- if member[53] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Warlock -->
        <td>{%- if member[54] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Titan -->
        <td>{%- if member[55] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Hunter -->
        <td>{%- if member[56] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Warlock -->
        <td>{%- if member[57] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Titan -->
        <td>{%- if member[58] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Hunter -->
        <td>{%- if member[59] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Warlock -->
        <td>{%- if member[60] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Titan -->
        <td>{%- if member[61] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Hunter -->
        <td>{%- if member[62] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Warlock -->
        <td>{%- if member[63] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Titan -->
        <td>{%- if member[64] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Hunter -->
        <td>{%- if member[65] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Warlock -->
        <td>{%- if member[66] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Titan -->
        <td>{%- if member[67] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 3 Hunter -->
        <td>{%- if member[68] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 3 Warlock -->
        <td>{%- if member[69] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 3 Titan -->
        <td>{%- if member[70] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 5 Hunter -->
        <td>{%- if member[71] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 5 Warlock -->
        <td>{%- if member[72] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 5 Titan -->
        <td>{%- if member[73] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Hunter -->
        <td>{%- if member[74] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Warlock -->
        <td>{%- if member[75] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Titan -->
        <td>{%- if member[76] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Hunter -->
        <td>{%- if member[77] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Warlock -->
        <td>{%- if member[78] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Titan -->
        <td>{%- if member[79] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Account doesn't exist -->
        <td>{%- if member[80] == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Private account -->
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endblock %}