<!doctype html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('dashboard.index') }}">home</a>/
{% block header %}
<h1>Diff for {{start_date}} to {{end_date}}</h1>
{% endblock %}
<table class="indexTable">
    <thead>
    <tr>
        <th>Left ({{members_who_left|length}})</th>
        <th>Joined ({{members_who_joined|length}})</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="bottomCell" style="vertical-align: top">
                        {%- if members_who_left -%}
            <table class="fullTable">
                <thead>
                <tr>
                    <th>Name<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                    <th>Score<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='score', col_type='int', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='score', col_type='int', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                    <th>Clan<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='clan_name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='clan_name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                    <th>Date<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='date', col_type='date', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='date', col_type='date', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {%- for member in members_who_left -%}
                <tr>
                    <td>{{ member.name }}</td>  <!-- Name -->
                    <td class="score">{{ member.score }}</td>  <!-- Score -->
                    <td>{{ member.clan_name }}</td> <!-- Clan -->
                    <td>{{ member.date }}</td> <!-- Date -->
                </tr>
                {%- endfor -%}
                </tbody>
            </table>
                        {%- endif -%}
        </td>
        <td class="bottomCell">
                        {%- if members_who_joined -%}
            <table class="fullTable">
                <thead>
                <tr>
                    <th>Name<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                    <th>Score<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='score', col_type='int', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='score', col_type='int', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                    <th>Clan<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='clan_name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='clan_name', col_type='str', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                    <th>Date<br/>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='date', col_type='date', start_date='%s'%start_date, end_date='%s'%end_date ) }}"><font
                                size="2">▲</font></a>
                        <a href="{{ url_for('dashboard.diff_view', clan_name='%s'%clan_name, sort_by='date', col_type='date', start_date='%s'%start_date, end_date='%s'%end_date, reverse='1' ) }}"><font
                                size="2">▼</font></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {%- for member in members_who_joined -%}
                <tr>
                    <td>{{ member.name }}</td>  <!-- Name -->
                    <td class="score">{{ member.score }}</td>  <!-- Score -->
                    <td>{{ member.clan_name }}</td> <!-- Clan -->
                    <td>{{ member.date }}</td> <!-- Date -->
                </tr>
                {%- endfor -%}
                </tbody>
            </table>
                        {%- endif -%}
        </td>
    </tr>
    </tbody>
</table>
<script>
function applyScoreColor(score, element) {
console.log(element);
    if (score < 60) {
      element.className = "score guardian";
    } else if (score < 120) {
      element.className = "score brave";
    } else if (score < 240) {
      element.className = "score heroic";
    } else if (score < 480) {
      element.className = "score fabled";
    } else if (score < 720) {
      element.className = "score mythic";
    } else if (score == 720) {
      element.className = "score legend";
    } else if (score < 2160) {
      element.className = "score gildedLegend";
    } else if (score == 2160) {
      element.className = "score ironWolf";
    } else if (score < 4320) {
      element.className = "score gildedIronWolf";
    } else if (score == 4320) {
      element.className = "score ironLord";
    } else if (score < 7920) {
      element.className = "score gildedIronLord";
    } else if (score == 7920) {
      element.className = "score ironWill";
    } else {
      element.className = "score ironWill";
    }
}
</script>
<script>
  $('.score').each(function() {
    var score = parseInt($(this).text());
    applyScoreColor(score, $(this)[0]);
});
</script>