<!doctype html>
<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script></head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('dashboard.index') }}">home</a>/<a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name) }}">{{ clan_name }}</a>
{% block header %}
  <h1>{{clan_name}} for {{selected_date}}</h1>
{% endblock %}

{% block content %}
  <table class="fullTable" id="mainTable" style="float: left;">
    <thead>
      <tr>
        <th>Name<br/>
          <a href="{{ url_for('dashboard.discord_view', clan_name='%s'%clan_name, sort_by='0', col_type='str', selected_date='%s'%selected_date ) }}"><font size="2">▲</font></a>
          <a href="{{ url_for('dashboard.discord_view', clan_name='%s'%clan_name, sort_by='0', col_type='str', selected_date='%s'%selected_date, reverse='1' ) }}"><font size="2">▼</font></a>
        </th>
        <th>Score New<br/>
          <a href="{{ url_for('dashboard.discord_view', clan_name='%s'%clan_name, sort_by='1', col_type='int', selected_date='%s'%selected_date ) }}"><font size="2">▲</font></a>
          <a href="{{ url_for('dashboard.discord_view', clan_name='%s'%clan_name, sort_by='1', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font size="2">▼</font></a>
        </th>
        <th>Score Old<br/>
          <a href="{{ url_for('dashboard.discord_view', clan_name='%s'%clan_name, sort_by='3', col_type='int', selected_date='%s'%selected_date ) }}"><font size="2">▲</font></a>
          <a href="{{ url_for('dashboard.discord_view', clan_name='%s'%clan_name, sort_by='3', col_type='int', selected_date='%s'%selected_date, reverse='1' ) }}"><font size="2">▼</font></a>
        </th>
      </tr>
    </thead>
    <tbody>
      {%- for member in members -%}
      <tr>
        <td><div style="height: 25px">{{ member[0] }}</div></td>  <!-- Name -->
        <td class="score" width="50px" align="center"><b>{{ member[1] }}</b></td>  <!-- Score -->
        <td class="score" width="50px" align="center">{{ member[3] }}</td>  <!-- Previous Score -->
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endblock %}
<script>
$(document).ready(function() {
    var rows = 20;
    var $main = $('#mainTable'),
    $head = $main.find('thead:first'),
    $extraRows = $main.find('tr:gt(' + rows + ')');

    for( var i = 0, count = 1; i < $extraRows.length; i = i+rows, count++){
        $('<table class="fullTable" style="float: left;">').append($head.clone(), $extraRows.slice(i,i+rows)).append('</table>').appendTo($main.parent());
    }
});
</script>
<script>
  $('.score').each(function() {
    var score = parseInt($(this).text());
    if (score < 60) {
      $(this).addClass('guardian');
    } else if (score < 120) {
      $(this).addClass('brave');
    } else if (score < 240) {
      $(this).addClass('heroic');
    } else if (score < 480) {
      $(this).addClass('fabled');
    } else if (score < 720) {
      $(this).addClass('mythic');
    } else if (score < 1440) {
      $(this).addClass('legend');
    } else if (score < 2160) {
      $(this).addClass('ironWolf');
    } else {
      $(this).addClass('ironLord');
    }
});
</script>