<!doctype html>
<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script></head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('dashboard.index') }}">home</a>/<a href="{{ url_for('dashboard.clan_view', clan_name='%s'%clan_name) }}">{{ clan_name }}</a>
{% block header %}
  <h1>Inactives for {{selected_date}}</h1>
{% endblock %}

<br/>
{% block content %}
{%- if clan_name != 'All' -%}
<table class="indexTable">
  <thead>
    <th>
      {{clan_name}}
      <input type="button" value="Copy Inactives" onclick="copyNames_click('{{clan_name}}')"/>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <table class="fullTable" id="mainTable" style="float: left;">
        <thead>
          <tr>
            <th>Name
            </th>
            <th>Score
            </th>
          </tr>
        </thead>
        <tbody>
          {%- for member in members -%}
          <tr>
            <td><div style="height: 25px">{{ member.name }}</div></td>  <!-- Name -->
            <td class="score" width="50px" align="center"><b>{{ member.score }}</b></td>  <!-- Score -->
          </tr>
          {%- endfor -%}
        </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{%- endif -%}
{%- if clan_name == 'All' -%}
  <table class="indexTable">
    <thead>
    {%- for clan in clans -%}
      <th>
        {{clan}}
        <input type="button" value="Copy Inactives" onclick="copyNames_click('{{clan}}')"/>
      </th>
    {%- endfor -%}
    </thead>
    <tbody>
      <tr>
        {%- for clan in clans -%}
        <td valign="top">
          <table class="fullTable" style="float: left;">
            <thead>
              <tr>
                <th>Name
                </th>
                <th>Score
                </th>
              </tr>
            </thead>
            <tbody>
              {%- for member in members -%}
                {%- if member.clan_name == clan -%}
                <tr>
                  <td><div style="height: 25px">{{ member.name }}</div></td>  <!-- Name -->
                  <td class="score" width="50px" align="center"><b>{{ member.score }}</b></td>  <!-- Score -->
                </tr>
                {%- endif -%}
              {%- endfor -%}
            </tbody>
          </table>
        </td>
        {%- endfor -%}
      </tr>
    </tbody>
  </table>
{%- endif -%}
{% endblock %}
<script>
function createPopup(text) {
    var docHeight = $(document).height();
    var divCont = "<div>"+text+"</div>";
    $("body").append("<div id='overlayDiv'></div>").hide().fadeIn("slow");
    $overlayDiv = $("#overlayDiv");
    $overlayDiv.height(docHeight).css({
            'opacity' : 1.0,
            'position': 'absolute',
            'top': 0,
            'background-color': 'white',
            'width': 'fit-content',
            'height': 'fit-content',
            'max-height': '50%',
            'z-index': 5000,
            'margin-left': '10%',
            'margin-right': '10%',
            'margin-top': '10%',
            'color': 'black',
            'border': 'solid',
            'white-space': 'pre-line',
            'padding': '10px'
    });
    $overlayDiv.append(divCont+"<br/><br/><button id='close'>CLOSE</button>");
    $("#close").ready(function(){
       $(document).on("click", "#close", function(){
          $overlayDiv.fadeOut("slow", function(){
             $overlayDiv.remove();
          });
       });
    });
}
</script>
<script>
function applyScoreColor(score, element) {
console.log(element);
    if (score < 60) {
      element.className = "score guardian";
    } else if (score < 120) {
      element.className = "score brave";
    } else if (score < 240) {
      element.className = "score heroic";
    } else if (score < 480) {
      element.className = "score fabled";
    } else if (score < 720) {
      element.className = "score mythic";
    } else if (score == 720) {
      element.className = "score legend";
    } else if (score < 2160) {
      element.className = "score gildedLegend";
    } else if (score == 2160) {
      element.className = "score ironWolf";
    } else if (score < 4320) {
      element.className = "score gildedIronWolf";
    } else if (score == 4320) {
      element.className = "score ironLord";
    } else if (score < 7920) {
      element.className = "score gildedIronLord";
    } else if (score == 7920) {
      element.className = "score ironWill";
    } else {
      element.className = "score ironWill";
    }
}
</script>
<script>
  $('.score').each(function() {
    var score = parseInt($(this).text());
    applyScoreColor(score, $(this)[0]);
});
</script>
<script>
$(document).ready(function() {
    var rows = 20;
    var $main = $('#mainTable'),
    $head = $main.find('thead:first'),
    $extraRows = $main.find('tr:gt(' + rows + ')');

    for( var i = 0, count = 1; i < $extraRows.length; i = i+rows, count++){
        $('<table class="fullTable" style="float: left;">').append($head.clone(), $extraRows.slice(i,i+rows)).append('</table>').appendTo($main.parent());
    }
});
</script>
<script>
function copyNames_click(clan) {
    var m = {{members|tojson}};
    var member_names = "<h3>"+clan+"</h3>\r\n";
    for (var i = 0; i < m.length; i++) {
        if (m[i].clan_name == clan) {
            member_names = member_names.concat(m[i].name,"\r\n");
        }
    }
    createPopup(member_names);
}
</script>