<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('dashboard.index') }}">home</a>
{% block header %}
<h1>{% block title %}Clan Score Thing{% endblock %}</h1>
{% endblock %}
<table class="indexTable">
    <thead>
    <th>View full score chart</th>
    <th>Generate scores</th>
    <th>Discord view</th>
    <th>Diff</th>
    <th>Inactives</th>
    <th>Generate scores for player</th>
    </thead>
    <tbody>
    <tr>
        <td>
            Date:<input type="date" id="clanView_datePick">
        </td>
        <td></td>
        <td>
            Date:<input type="date" id="discordView_datePick">
        </td>
        <td>
            Start:<input type="date" id="diffView_startDatePick">
            End:<input type="date" id="diffView_endDatePick">
        </td>
        <td>
            Date:<input type="date" id="inactiveView_datePick">
        </td>
        <td>
            Bungie Name:<input type="text" id="generateSingle_textField">
        </td>
    </tr>
    <tr>
        <td>
            Clan:
            <select id="clanView_clanPick">
                <option value="Emerald">Emerald</option>
                <option value="Jade">Jade</option>
                <option value="Peridot">Peridot</option>
                <option value="Beryl">Beryl</option>
                <option value="Ruby">Ruby</option>
                <option value="Garnet">Garnet</option>
                <option value="Thulite">Thulite</option>
                <option value="Onyx">Onyx</option>
                <option value="Topaz">Topaz</option>
            </select>
        </td>
        <td>
            Clan: <select id="generateScores_clanPick">
            <option value="Emerald">Emerald</option>
            <option value="Jade">Jade</option>
            <option value="Peridot">Peridot</option>
            <option value="Beryl">Beryl</option>
            <option value="Ruby">Ruby</option>
            <option value="Garnet">Garnet</option>
            <option value="Thulite">Thulite</option>
            <option value="Onyx">Onyx</option>
            <option value="Topaz">Topaz</option>
            <option value="All">All</option>
        </select>
        </td>
        <td>
            Clan: <select id="discordView_clanPick">
            <option value="Emerald">Emerald</option>
            <option value="Jade">Jade</option>
            <option value="Peridot">Peridot</option>
            <option value="Beryl">Beryl</option>
            <option value="Ruby">Ruby</option>
            <option value="Garnet">Garnet</option>
            <option value="Thulite">Thulite</option>
            <option value="Onyx">Onyx</option>
            <option value="Topaz">Topaz</option>
        </select>
        </td>
        <td>
        </td>
        <td>
            Clan: <select id="inactiveView_clanPick">
            <option value="Emerald">Emerald</option>
            <option value="Jade">Jade</option>
            <option value="Peridot">Peridot</option>
            <option value="Beryl">Beryl</option>
            <option value="Ruby">Ruby</option>
            <option value="Garnet">Garnet</option>
            <option value="Thulite">Thulite</option>
            <option value="Onyx">Onyx</option>
            <option value="Topaz">Topaz</option>
            <option value="All">All</option>
        </select>
        </td>
        <td>
            Clan: <select id="generateSingle_clanPick">
            <option value="Emerald">Emerald</option>
            <option value="Jade">Jade</option>
            <option value="Peridot">Peridot</option>
            <option value="Beryl">Beryl</option>
            <option value="Ruby">Ruby</option>
            <option value="Garnet">Garnet</option>
            <option value="Thulite">Thulite</option>
            <option value="Onyx">Onyx</option>
            <option value="Topaz">Topaz</option>
        </select>
        </td>
    </tr>
    <tr>
        <td class="bottomCell">
            <input id="clanView_btn" type="button" value="Go"/>
        </td>
        <td class="bottomCell">
            <input id="generateScores_btn" type="button" value="Go"/>
        </td>
        <td class="bottomCell">
            <input id="discordView_btn" type="button" value="Go"/>
        </td>
        <td class="bottomCell">
            <input id="diffView_btn" type="button" value="Go"/>
        </td>
        <td class="bottomCell">
            <input id="inactiveView_btn" type="button" value="Go"/>
        </td>
        <td class="bottomCell">
            <input id="generateSingle_btn" type="button" value="Go"/>
        </td>
    </tr>
    </tbody>
</table>

<script>
$('#clanView_btn').click( function(e){
    e.preventDefault();
    disableBtn();
    var selectedClan = $("#clanView_clanPick").val()
    var selectedDate = $("#clanView_datePick").val()
    var url = "{{ url_for('dashboard.clan_view', clan_name='selectedClan', selected_date='selectedDate') }}"
            .replace("selectedClan", selectedClan)
            .replace("selectedDate", selectedDate)
            .replaceAll("amp;", "");
    window.location.href = url;
});
</script>
<script>
$('#generateScores_btn').click( function(e){
    e.preventDefault();
    disableBtn();
    var selectedClan = $("#generateScores_clanPick").val()
    var url = "{{ url_for('dashboard.generate_scores', clan_name='selectedClan', selected_date='selectedDate') }}"
            .replace("selectedClan", selectedClan)
            .replace("selectedDate", new Date().toISOString().slice(0,10))
            .replaceAll("amp;", "");
    window.location.href = url;
});
</script>
<script>
$('#discordView_btn').click( function(e){
    e.preventDefault();
    disableBtn();
    var selectedClan = $("#discordView_clanPick").val()
    var selectedDate = $("#discordView_datePick").val()
    var url = "{{ url_for('dashboard.discord_view', clan_name='selectedClan', selected_date='selectedDate') }}"
            .replace("selectedClan", selectedClan)
            .replace("selectedDate", selectedDate)
            .replaceAll("amp;", "");
    window.location.href = url;
});
</script>
<script>
$('#diffView_btn').click( function(e){
    e.preventDefault();
    disableBtn();
    var selectedClan = $("#diffView_clanPick").val()
    var startDate = $("#diffView_startDatePick").val()
    var endDate = $("#diffView_endDatePick").val()
    var url = "{{ url_for('dashboard.diff_view', start_date='startDate', end_date='endDate') }}"
            .replace("startDate", startDate)
            .replace("endDate", endDate)
            .replaceAll("amp;", "");
    window.location.href = url;
});
</script>
<script>
$('#inactiveView_btn').click( function(e){
    e.preventDefault();
    disableBtn();
    var selectedClan = $("#inactiveView_clanPick").val()
    var selectedDate = $("#inactiveView_datePick").val()
    var url = "{{ url_for('dashboard.inactive_view', clan_name='selectedClan', selected_date='selectedDate') }}"
            .replace("selectedClan", selectedClan)
            .replace("selectedDate", selectedDate)
            .replaceAll("amp;", "");
    window.location.href = url;
});
</script>
<script>
$('#generateSingle_btn').click( function(e){
    e.preventDefault();
    disableBtn();
    var bungieName = $("#generateSingle_textField").val()
    var selectedClan = $("#generateSingle_clanPick").val()
    var url = "{{ url_for('dashboard.generate_single', bungie_name ='bungieName', clan_name='selectedClan') }}"
            .replace("selectedClan", selectedClan)
            .replace("bungieName", encodeURI(bungieName).replaceAll("#", "%23"))
            .replaceAll("amp;", "");
    window.location.href = url;
});
</script>
<script>
$(document).ready( function() {
    $('#clanView_datePick').val(new Date().toISOString().slice(0,10));
    $('#discordView_datePick').val(new Date().toISOString().slice(0,10));
    $('#diffView_startDatePick').val(new Date().toISOString().slice(0,10));
    $('#diffView_endDatePick').val(new Date().toISOString().slice(0,10));
    $('#inactiveView_datePick').val(new Date().toISOString().slice(0,10));
});
</script>
<script>
function disableBtn() {
    $('#clanView_btn').prop('disabled', true);
    $('#generateScores_btn').prop('disabled', true);
    $('#discordView_btn').prop('disabled', true);
    $('#diffView_btn').prop('disabled', true);
    $('#inactiveView_btn').prop('disabled', true);
    $('#generateSingle_btn').prop('disabled', true);
}
</script>