<!doctype html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('dashboard.index') }}">home</a>/SinglePlayer
{% block header %}
<h1>Score for {{ member.name }}</h1>
{% endblock %}

{% block content %}
<table class="fullTable" id="table">
    <thead>
    <tr>
        <th rowspan="2">Name
        </th>
        <th rowspan="2">Score
        </th>
        <th rowspan="2">Display Score
        </th>
        <th rowspan="2">Previous Score
        </th>
        <th rowspan="2">Gild Level
        </th>
        <th rowspan="2">Score Delta
        </th>
        <th rowspan="2">Days Last Played
        </th>
        <th rowspan="2">Date Last Played
        </th>
        <th rowspan="2">Inactive
        </th>
        <th rowspan="2">Clan XP
        </th>
        <th rowspan="2">Weekly XP
        </th>
        <th rowspan="2">Seasonal XP
        </th>
        <th colspan="3">GOS</th>
        <th colspan="3">DSC</th>
        <th colspan="3">LW</th>
        <th colspan="3">VOG</th>
        <th colspan="3">MVOG</th>
        <th colspan="3">VOW</th>
        <th colspan="3">MVOW</th>
        <th colspan="3">KF</th>
        <th colspan="3">Clan Engram By Class</th>
        <th colspan="3">Crucible Engram</th>
        <th colspan="3">Banshee</th>
        <th colspan="3">Drifter</th>
        <th colspan="3">Zavala</th>
        <th colspan="3">Nightfall</th>
        <th colspan="3">Strikes</th>
        <th colspan="3">Nightfall 100k</th>
        <th colspan="3">Gambit</th>
        <th colspan="3">Crucible Playlist</th>
        <th colspan="3">Crucible Glory</th>
        <th colspan="3">Trials 50 Wins</th>
        <th colspan="3">Trials 7 Wins</th>
        <th colspan="3">Prophecy</th>
        <th colspan="3">POH</th>
        <th colspan="3">ST</th>
        <th colspan="3">GOA</th>
        <th colspan="3">DOE Powerful</th>
        <th colspan="3">DOE Pinnacle</th>
        <th colspan="3">Preservation</th>
        <th colspan="3">Wellspring Powerful</th>
        <th colspan="3">Wellspring Pinnacle</th>
        <th colspan="3">Campaign Powerful</th>
        <th colspan="3">Campaign Pinnacle</th>
        <th colspan="3">Fynch Challenge</th>
        <th colspan="3">Tank Buster</th>
        <th colspan="3">Low Light</th>
        <th rowspan="2">Account doesn't exist</th>
        <th rowspan="2">Private account</th>
    </tr>
    <tr>
        {%- for i in range(35) %}
        <th>H</th>
        <th>W</th>
        <th>T</th>
        {%- endfor -%}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>{{ member.name }}</th>  <!-- Name -->
        <td class="score" id="score_td"><b id="score">{{ member.score }}</b></td>  <!-- Score -->
        <td class="score" id="displayScore_td">
            <b id="displayScore" class="displayScore"></b>
        </td>   <!-- Display Score -->
        <td class="score" id="prevScore">{{ member.prev_score }}</td>  <!-- Previous Score -->
        <td>
        <select id="gildLevel" onchange="updateGildLevel()">
            {%- if member.gild_level == '0' -%}
                <option value="0" selected id="option0">0</option>
                {%- if member.score == '720' -%}
                    <option value="1" id="option1">1</option>
                {%- else -%}
                    <option value="1" disabled="false" id="option1">1</option>
                {%- endif -%}
                <option value="2" hidden id="option2">2</option>
                <option value="3" hidden id="option3">3</option>
                <option value="4" hidden id="option4">4</option>
            {%- elif member.gild_level == '1' -%}
                <option value="1" selected id="option1">1</option>
                {%- if member.score == '2160' -%}
                    <option value="2" id="option2">2</option>
                {%- else -%}
                    <option value="2" disabled id="option2">2</option>
                {%- endif -%}
                <option value="3" hidden id="option3">3</option>
                <option value="4" hidden id="option4">4</option>
            {%- elif member.gild_level == '2' -%}
                <option value="2" selected id="option2">2</option>
                {%- if member.score == '4320' -%}
                    <option value="3" id="option3">3</option>
                {%- else -%}
                    <option value="3" disabled id="option3">3</option>
                {%- endif -%}
                <option value="4" hidden id="option4">4</option>
            {%- elif member.gild_level == '3' -%}
                <option value="3" selected id="option3">3</option>
                {%- if member.score == '7920' -%}
                    <option value="4" id="option4">4</option>
                {%- else -%}
                    <option value="4" disabled id="option4">4</option>
                {%- endif -%}
            {%- elif member.gild_level == '4' -%}
                <option value="4" selected id="option4">4</option>
            {%- endif -%}
        </select>
        </td>   <!-- Gild Level -->
        <td id="scoreDelta">{{ member.score_delta }}</td>  <!-- Score Delta -->
        <td>{{ member.days_last_played }}</td>  <!-- Days Last Played -->
        <td>{{ member.date_last_played[:10] }}</td>  <!-- Date Last Played -->
        <td>
            {%- if member.inactive == 'True' -%}
            ✔️
            {%- endif -%}
        </td>  <!-- Inactive -->
        <td>
            {%- if ( (member.clan_xp.hunter | int) + (member.clan_xp.warlock | int) + (member.clan_xp.titan | int) ) >= 5000 -%}
            ✔️
            {%- else -%}
            {{ (member.clan_xp.hunter | int) + (member.clan_xp.warlock | int) + (member.clan_xp.titan | int) }}
            {%- endif -%}
        </td>
        <td>{{ member.weekly_xp }}</td> <!-- Weekly XP -->
        <td>{{ member.seasonal_xp }}</td> <!-- Seasonal XP -->
        <td>{{ member.gos_hunter }}</td> <!-- GOS Hunter -->
        <td>{{ member.gos_warlock }}</td> <!-- GOS Warlock -->
        <td>{{ member.gos_titan }}</td> <!-- GOS Titan -->
        <td>{{ member.dsc_hunter }}</td> <!-- DSC Hunter -->
        <td>{{ member.dsc_warlock }}</td> <!-- DSC Warlock -->
        <td>{{ member.dsc_titan }}</td> <!-- DSC Titan -->
        <td>{{ member.lw_hunter }}</td> <!-- LW Hunter -->
        <td>{{ member.lw_warlock }}</td> <!-- LW Warlock -->
        <td>{{ member.lw_titan }}</td> <!-- LW Titan -->
        <td>{{ member.vog_hunter }}</td> <!-- VOG Hunter -->
        <td>{{ member.vog_warlock }}</td> <!-- VOG Warlock -->
        <td>{{ member.vog_titan }}</td> <!-- VOG Titan -->
        <td>{{ member.vog_master_hunter }}</td> <!-- VOG Master Hunter -->
        <td>{{ member.vog_master_warlock }}</td> <!-- VOG Master Warlock -->
        <td>{{ member.vog_master_titan }}</td> <!-- VOG Master Titan -->
        <td>{{ member.vow_hunter }}</td> <!-- VOW Hunter -->
        <td>{{ member.vow_warlock }}</td> <!-- VOW Warlock -->
        <td>{{ member.vow_titan }}</td> <!-- VOW Titan -->
        <td>{{ member.vow_master_hunter }}</td> <!-- VOW Master Hunter -->
        <td>{{ member.vow_master_warlock }}</td> <!-- VOW Master Warlock -->
        <td>{{ member.vow_master_titan }}</td> <!-- VOW Master Titan -->
        <td>{{ member.kf_hunter }}</td> <!-- KF Hunter -->
        <td>{{ member.kf_warlock }}</td> <!-- KF Warlock -->
        <td>{{ member.kf_titan }}</td> <!-- KF Titan -->
        <td>{%- if (member.clan_xp_hunter | int) >= 5000 -%}✔️{%- else -%}{{ member.clan_xp_hunter }}{%- endif -%}</td> <!-- Clan Engram Hunter -->
        <td>{%- if (member.clan_xp_warlock) | int >= 5000 -%}✔️{%- else -%}{{ member.clan_xp_warlock }}{%- endif -%}</td> <!-- Clan Engram Warlock -->
        <td>{%- if (member.clan_xp_titan) | int >= 5000 -%}✔️{%- else -%}{{ member.clan_xp_titan }}{%- endif -%}</td> <!-- Clan Engram Titan -->
        <td>{%- if member.crucible_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Hunter -->
        <td>{%- if member.crucible_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Warlock -->
        <td>{%- if member.crucible_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Engram Titan -->
        <td>{%- if member.banshee_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Hunter -->
        <td>{%- if member.banshee_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Warlock -->
        <td>{%- if member.banshee_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Banshee Titan -->
        <td>{%- if member.drifter_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Hunter -->
        <td>{%- if member.drifter_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Warlock -->
        <td>{%- if member.drifter_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Drifter Titan -->
        <td>{%- if member.zavala_engram_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Hunter -->
        <td>{%- if member.zavala_engram_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Warlock -->
        <td>{%- if member.zavala_engram_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Zavala Titan -->
        <td>{%- if member.nightfall_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Hunter -->
        <td>{%- if member.nightfall_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Warlock -->
        <td>{%- if member.nightfall_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall Titan -->
        <td>{%- if member.strikes_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Hunter -->
        <td>{%- if member.strikes_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Warlock -->
        <td>{%- if member.strikes_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Strikes Titan -->
        <td>{%- if member.nightfall_100k_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Hunter -->
        <td>{%- if member.nightfall_100k_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Warlock -->
        <td>{%- if member.nightfall_100k_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Nightfall 100k Titan -->
        <td>{%- if member.gambit_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Hunter -->
        <td>{%- if member.gambit_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Warlock -->
        <td>{%- if member.gambit_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Gambit Titan -->
        <td>{%- if member.crucible_playlist_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Hunter -->
        <td>{%- if member.crucible_playlist_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Warlock -->
        <td>{%- if member.crucible_playlist_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Playlist Titan -->
        <td>{%- if member.crucible_glory_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Hunter -->
        <td>{%- if member.crucible_glory_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Warlock -->
        <td>{%- if member.crucible_glory_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Crucible Glory Titan -->
        <td>{%- if member.trials50_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 50 Wins Hunter -->
        <td>{%- if member.trials50_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 50 Wins Warlock -->
        <td>{%- if member.trials50_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 50 Wins Titan -->
        <td>{%- if member.trials7_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Wins Hunter -->
        <td>{%- if member.trials7_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Wins Warlock -->
        <td>{%- if member.trials7_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Trials 7 Wins Titan -->
        <td>{{ member.prophecy_hunter }}</td> <!-- Prophecy Hunter -->
        <td>{{ member.prophecy_warlock }}</td> <!-- Prophecy Warlock -->
        <td>{{ member.prophecy_titan }}</td> <!-- Prophecy Titan -->
        <td>{{ member.poh_hunter }}</td> <!-- POH Hunter -->
        <td>{{ member.poh_warlock }}</td> <!-- POH Warlock -->
        <td>{{ member.poh_titan }}</td> <!-- POH Titan -->
        <td>{{ member.st_hunter }}</td> <!-- ST Hunter -->
        <td>{{ member.st_warlock }}</td> <!-- ST Warlock -->
        <td>{{ member.st_titan }}</td> <!-- ST Titan -->
        <td>{{ member.goa_hunter }}</td> <!-- GOA Hunter -->
        <td>{{ member.goa_warlock }}</td> <!-- GOA Warlock -->
        <td>{{ member.goa_titan }}</td> <!-- GOA Titan -->
        <td>{%- if member.doe_powerful_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- DOE Powerful Hunter -->
        <td>{%- if member.doe_powerful_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- DOE Powerful Warlock -->
        <td>{%- if member.doe_powerful_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- DOE Powerful Titan -->
        <td>{%- if member.doe_pinnacle_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- DOE Pinnacle Hunter -->
        <td>{%- if member.doe_pinnacle_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- DOE Pinnacle Warlock -->
        <td>{%- if member.doe_pinnacle_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- DOE Pinnacle Titan -->
        <td>{%- if member.preservation_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Preservation Hunter -->
        <td>{%- if member.preservation_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Preservation Warlock -->
        <td>{%- if member.preservation_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Preservation Titan -->
        <td>{%- if member.wellspring_powerful_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wellspring Powerful Hunter -->
        <td>{%- if member.wellspring_powerful_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wellspring Powerful Warlock -->
        <td>{%- if member.wellspring_powerful_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wellspring Powerful Titan -->
        <td>{%- if member.wellspring_pinnacle_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wellspring Pinnacle Hunter -->
        <td>{%- if member.wellspring_pinnacle_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wellspring Pinnacle Warlock -->
        <td>{%- if member.wellspring_pinnacle_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Wellspring Pinnacle Titan -->
        <td>{%- if member.campaign_powerful_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Campaign Powerful Hunter -->
        <td>{%- if member.campaign_powerful_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Campaign Powerful Warlock -->
        <td>{%- if member.campaign_powerful_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Campaign Powerful Titan -->
        <td>{%- if member.campaign_pinnacle_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Campaign Pinnacle Hunter -->
        <td>{%- if member.campaign_pinnacle_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Campaign Pinnacle Warlock -->
        <td>{%- if member.campaign_pinnacle_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Campaign Pinnacle Titan -->
        <td>{%- if member.fynch_challenge_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Fynch Challenge Hunter -->
        <td>{%- if member.fynch_challenge_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Fynch Challenge Warlock -->
        <td>{%- if member.fynch_challenge_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Fynch Challenge Titan -->
        <td>{%- if member.tank_buster_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Tank Buster Hunter -->
        <td>{%- if member.tank_buster_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Tank Buster Warlock -->
        <td>{%- if member.tank_buster_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Tank Buster Titan -->
        <td>{%- if member.low_light_hunter == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Hunter -->
        <td>{%- if member.low_light_warlock == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Warlock -->
        <td>{%- if member.low_light_titan == 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Low Light Titan -->
        <td>{%- if member.account_not_exists== 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Account doesn't exist -->
        <td>{%- if member.privacy== 'True' -%}✔️{%- else -%}{%- endif -%}</td> <!-- Private account -->
    </tr>
    </tbody>
</table>
{% endblock %}
<script>
$(document).ready(function () {
    $('.score').each(function() {
        applyScoreColor(parseInt($(this).text()), $(this)[0]);
    });
    $('.displayScore').each(function() {
        calculateDisplayScore();
    });
});
</script>
<script>
function applyScoreColor(score, element) {
    if (score < 60) {
      element.className = "score guardian";
    } else if (score < 120) {
      element.className = "score brave";
    } else if (score < 240) {
      element.className = "score heroic";
    } else if (score < 480) {
      element.className = "score fabled";
    } else if (score < 720) {
      element.className = "score mythic";
    } else if (score == 720) {
      element.className = "score legend";
    } else if (score < 2160) {
      element.className = "score gildedLegend";
    } else if (score == 2160) {
      element.className = "score ironWolf";
    } else if (score < 4320) {
      element.className = "score gildedIronWolf";
    } else if (score == 4320) {
      element.className = "score ironLord";
    } else if (score < 7920) {
      element.className = "score gildedIronLord";
    } else if (score == 7920) {
      element.className = "score ironWill";
    } else {
      element.className = "score ironWill";
    }
}
</script>
<script>
function applyDisplayScoreColor(score, gildLevel, element) {
    if (score < 60 && gildLevel == 0) {
      element.className = "score guardian";
    } else if (score < 120 && gildLevel == 0) {
      element.className = "score brave";
    } else if (score < 240 && gildLevel == 0) {
      element.className = "score heroic";
    } else if (score < 480 && gildLevel == 0) {
      element.className = "score fabled";
    } else if (score < 720 && gildLevel == 0) {
      element.className = "score mythic";
    } else if (score == 720 && gildLevel == 0) {
      element.className = "score legend";
    } else if (score < 1440 && gildLevel == 1) {
      element.className = "score gildedLegend";
    } else if (score == 1440 && gildLevel == 1) {
      element.className = "score ironWolf";
    } else if (score < 2160 && gildLevel == 2) {
      element.className = "score gildedIronWolf";
    } else if (score == 2160 && gildLevel == 2) {
      element.className = "score ironLord";
    } else if (score < 3600 && gildLevel >= 3) {
      element.className = "score gildedIronLord";
    } else if (score == 3600 && gildLevel >= 3) {
      element.className = "score ironWill";
    } else {
      element.className = "score ironWill";
    }
}
</script>
<script>
function calculateDisplayScore() {
       var score = +document.getElementById("score").innerHTML;
       var gildLevel = +document.getElementById("gildLevel").value;
       var displayScore = score;

       if (gildLevel == 0) {
       } else if (gildLevel == 1) {
            displayScore = displayScore - 720;
       } else if (gildLevel == 2) {
            displayScore = displayScore - 2160;
       } else if (gildLevel == 3) {
            displayScore = displayScore - 4320;
       } else {
            displayScore = displayScore - 4320;
       }
       document.getElementById("displayScore").innerHTML = displayScore;
       applyDisplayScoreColor(displayScore, gildLevel, document.getElementById("displayScore_td"));
}
</script>
<script>
function updateGildLevel() {
    var oldGildLevel = +member.gild_level;
    var gildLevel = +document.getElementById("gildLevel").value;
    if (gildLevel != 4) {
        var optionElement = document.getElementById("option".concat(gildLevel+1));
        optionElement.hidden = false;
        optionElement.disabled = true;
    }
    if (gildLevel <= oldGildLevel) {
        // TODO: add logic to remove optionElements above current
        addExternalScore(i);
    }
}
</script>