<style style="text/css">
  	.fullTable{
		border-collapse:collapse;
		position: relative;
		table-layout: fixed;
	}
	.fullTable td,th{
		padding:7px; border:1px solid #7B7978;
		overflow: hidden;
	}
	.fullTable thead tr:nth-child(1) th{
	    position: -webkit-sticky; /* for Safari */
	    position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
		background-color: #968786;
	}
	.fullTable thead tr:nth-child(2) th{
	    position: -webkit-sticky; /* for Safari */
	    position: sticky;
        top: 54px; /* Don't forget this, required for the stickiness */
		background-color: #968786;
	}
	.fullTable tr:nth-child(odd){
		background-color: #e8b4b0;
	}
	.fullTable tr:nth-child(even){
		background-color: #e3776f;
	}
	/* Define the hover highlight color for the table row */
    .fullTable tbody tr:hover {
          background-color: #ddd;
    }
    .fullTable tbody th {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      background-color: #968786;
      left: 0;
    }
    a {
      color: black;
      text-decoration: none; /* no underline */
    }
    .guardian {
        background-color: #408d9c
    }
    .brave {
        background-color: #4477c2
    }
    .heroic {
        background-color: #2f47ec
    }
    .fabled {
        background-color: #8359ff
    }
    .mythic {
        background-color: #d118ca
    }
    .legend {
        background-color: #d11f1f
    }
    .ironWolf {
        background-color: #6fe4ab
    }
    .ironLord {
        background-color: #b5e76b
    }
    .indexTable {
        border-collapse: collapse;
    }
    .indexTable tr {
        border: none;
    }
    .indexTable td {
      border-right: solid 1px;
      border-left: solid 1px;
      padding: 10px;
    }
    .bottomCell {
        border-bottom: solid 1px;
        text-align: center;
    }
    .scoreCol {
    }
</style>